/* Estilo del botón de hamburguesa personalizado */
.menu-toggle-checkbox {
    display: none;
}

.menu-toggle-label {
    cursor: pointer;
    display: block;
    padding: 10px;
}

.menu-toggle-label i {
    font-size: 24px;
}

/* Estilo del menú desplegable */
#mainNavbar {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: absolute;
    top: 56px;
    left: -200px;
    width: 200px;
    transition: left 0.4s;
}

.menu-toggle-checkbox:checked + .container #mainNavbar {
    left: 0;
}

#mainNavbar li {
    padding: 10px;
}

#mainNavbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    transition: background-color 0.3s ease-in-out;
}

#mainNavbar a:hover {
    background-color: #555;
}

/* Estilo del contenido de la página */
.content {
    padding: 20px;
}
